.col-inactive {background-color:#FF9966;}
.twFInner{position:relative; z-index:999; background-color:#f9edbe; font-weight:bold; color:#222; text-align:center; font-size:80%; border-radius:2px; border-color: #f0c36d; padding:10px; left: -50%}
.twF {position:fixed; top: 4%; left:50%; display:none; }